<main class="main-content">
    <div id="about">
        <h1 class="title-presentation"><span>Olá, Me chamo Rodrigo,</span> sou Desenvolvedor Fullstack</h1>
        <h3>Atualmente estou cursando o 7° Semestre em Sistemas de informação. Gosto muito de programação
            e tenho dedicado meus últimos 2 anos estudando Angular, Vue.js, Nuxt.js, Express e Nest.
        </h3>
        <button>Download CV</button>
    </div>
    <div id="projects">
        <h1>Projetos</h1>
        <div class="projects-wrapper">
            <app-card-project *ngFor="let project of listProjects" [listProjects]="project"/>
        </div>
    </div>
    <div id="skills">
        <h1>Habilidades</h1>
        <div class="skills-wrapper">
            <app-skill-tag *ngFor="let skill of skills" [skill]="skill"/>
        </div>
    </div>

</main>