$speed: 1s;

.social-media {
    display: flex;
    height: 100px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    position: fixed;
    bottom: 5%;
    right: 1%;

    a {
        svg {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background-color: black;

            &:hover {
                animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
                transform: translate3d(0, 0, 0);
                backface-visibility: hidden;
                perspective: 1000px;
            }
        }
    }

    img {
        width: 40px;
        border-radius: 50%;

        &:hover {
            animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }

    }

    @keyframes shake {

        10%,
        90% {
            transform: translate3d(0, -1px, 0);
        }

        20%,
        80% {
            transform: translate3d(0, 2px, 0);
        }

        30%,
        50%,
        70% {
            transform: translate3d(0, -4px, 0);
        }

        40%,
        60% {
            transform: translate3d(0, 4px, 0);
        }
    }
}

@media screen and (min-width:500px){
    .social-media{
        right: 3%;
    }
}

@media screen and (max-width:500px){
    .social-media{
        justify-content: space-around;
        a{
            svg{
                height: 30px;
                width: 30px;
            }
        }
        img{
            width: 30px;
        }
    }
}